<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <title>Strachob Drive</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link href="{{ url_for('static', filename='styles/com.css') }}" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Strachob Drive</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Your files <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/strachob/drive/upload_view">Upload</a>
      <form method="post" action="/strachob/drive/logout">
                <button class="btn btn-danger" type="submit">Logout</button>
        </form>
    </div>
  </div>
</nav>

<body>
    <div class="container-fluid">
        <h2 align="left">{{username}}'s files</h2>
            <div class="list-group">
            {% if files %}
                {% for file in files %}
                    <li class="list-group-item"><form method="post" action="/strachob/drive/share">
                        <button type="submit" class="btn btn-link">{{ file }}</button>
                        <input type="hidden" name="file" value={{ file }}>
                        <input type="hidden" name="user" value={{ username }}>
                    </form>
                    <img src="../static/icons/{{username}}/{{file}}.icon.png" alt="Defaults" onerror="this.src='../static/icons/def-icon.png'">
                    
                    </li>
                {% endfor %}
            {% elif share %}
                <form method="post" action="/strachob/drive/download">
                    <h3>File: {{ share }}</h3>
                    
                    <div class="md-form">
                        <label for="form7">If you want to share your file copy this link:</label>
                        <textarea type="text" id="form7" class="md-textarea form-control" rows="2" readonly> {{ link }} </textarea>
                    </div>
                    <label>Or click the button below to dowload it instead:</label><br>
                    <input type="submit" class="btn btn-warning" value="Download the file"></input>
                    <hr/>
                    <a href="/strachob/drive/box" class="btn btn-secondary">Back</a>
                    <input type="hidden" name="file" value={{ share }}>
                    <input type="hidden" name="user" value={{ username }}>
                </form>        
            {% else %}
                <h3>No files in your drive!</h3>  
            {% endif %}
                </div>
            {% if error%}
                <label id='fileLabel2'>{{error}}</label>
            {% endif %}
        </div> 
        
<script src="{{ url_for('static', filename='script1.js') }}" user={{username}} type="text/javascript" defer="defer"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2018 
    <a href="https://github.com/strachob"> Bartosz Strachowski</a>
  </div>
</footer>
</html>
