<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <title>Strachob Drive</title>
    <link href="{{ url_for('static', filename='styles/loginstyle.css') }}" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<body>
    <div class="box">
            <h1>Strachob Drive</h1>
            <a href="/strachob/drive/login"><div class="btn">Sign In with auth0</div></a> <!-- End Btn -->
  
            {% if error%}
                <h3 id='error'>{{error}}</h3>
            {% endif %}
    </div> <!-- End Box -->
    <script src="{{ url_for('static', filename='script1.js') }}" type="text/javascript" defer="defer"></script>
</body>
</html>
